:root {
    --border-color: rgba(121, 121, 121, 0.12);
}

.vscode-light {
    --border-color: hsla(0, 0%, 0%, 0.06);
    --pre-bg-color: rgba(231, 231, 231, 0.4);
    --pre-border-color: rgba(10, 10, 10, 0.05);
    --pre-bg-color-hover: rgba(231, 231, 231, 0.7);
    --pre-bg-color-active: rgba(231, 231, 231, 0.4);
}

.vscode-dark {
    --pre-bg-color: rgba(10, 10, 10, 0.4);
    --pre-bg-color-hover: rgba(10, 10, 10, 0.5);
    --pre-bg-color-active: rgba(10, 10, 10, 0.4);
    --pre-border-color: hsla(0, 0%, 0%, 0.06);
}

.vscode-high-contrast {
    --pre-bg-color: rgba(255, 255, 255, 0);
    --pre-border-color: rgb(255, 255, 255);
    --pre-bg-color-hover: rgba(255, 255, 255, 0.2);
    --pre-bg-color-active: rgba(255, 255, 255, 0.1);
}

.vscode-high-contrast-light {
    --pre-bg-color: rgba(255, 255, 255, 0);
    --pre-border-color: rgb(0, 0, 0);
    --pre-bg-color-hover: rgba(10, 10, 10, 0.05);
    --pre-bg-color-active: rgba(10, 10, 10, 0.02);
}

html {
    line-height: 1.5;
    padding: 10px 30px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 30px;
    margin: 10px 0 0;
}

h3 {
    margin: 16px 0;
    font-size: 20px;
}

hr {
    border: 0;
    height: 1px;
    border-bottom: 1px solid;
}

a {
    color: var(--vscode-textLink-foreground);
    text-decoration: none;
}

a:hover {
    color: var(--vscode-textLink-activeForeground);
}

p {
    margin: 7.5px 0;
    font-size: 16px;
    color: inherit;
}

p img {
    display: block;
    width: 500px;
    max-width: 80%;
}

ul,
ol {
    font-size: 15px;
}

pre {
    word-break: initial;
    hyphens: none;
    position: relative;
    overflow: auto;
    display: block;
    padding: 0.375rem 0.75rem;
    background: var(--pre-bg-color, hsl(211, 20%, 97%));
    border: 1px solid var(--pre-border-color);
    border-radius: 0.1875rem;
}

pre code {
    font-family: var(--vscode-editor-font-family, "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace);
    font-size: 1.05em;
    line-height: 1.357em;
    border-radius: 0.1875rem;
    color: var(--vscode-editor-foreground);
    background-color: transparent;
    margin: 0 0.125rem;
    white-space: pre-wrap;
    display: block;
}

pre:hover {
    background-color: var(--pre-bg-color-hover);
}

.copy-button {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 1px 5px;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
    z-index: 2;
    display: none;
}

pre:hover .copy-button {
    display: block;
}

.pta-note {
    border: 1px solid var(--vscode-editor-foreground);
    border-radius: 5px;
    padding: 4px 16px;
}

#solve {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: 0;
    margin: 1rem 0;
    padding: 0.2rem 1rem;
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
}

#solve:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.banner .ques-info {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 13px;
}

.banner .ques-info .detail,
.department {
    display: flex;
}

.banner-line {
    margin: 8px auto 10px;
}

table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
}

thead {
    font-size: 15px;
}

th,
td {
    border-bottom: 0.8px solid var(--border-color);
    padding: 16px;
}

.code-block {
    margin-top: 15px;
}

.code-block pre {
    margin: 0;
}

.build-output code {
    max-height: 400px;
    padding: 5px;
}

.code-preview code {
    line-height: 1.357em;
    border-radius: 0.1875rem;
    color: var(--vscode-editor-foreground);
    margin: 0 0.125rem;
    display: block;
    padding: 5px;
}